<!DOCTYPE html>
<html>
<head>
    <title>Simple Blog</title>
</head>
<body>
    <h1>Blog Posts</h1>
    <a href="{{ url_for('create_post') }}">Create New Post</a>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{{ url_for('view_post', post_id=post[0]) }}">{{ post[1] }}</a>
                <form action="{{ url_for('delete_post', post_id=post[0]) }}" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
